.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 968px) {
  .footer {
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    max-width: 282px;
  }
}
