.auth__save {
  width: 358px;
  height: 50px;
  margin: 0;
  margin-top: 18px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-bottom: 15px;
}

.auth__save:hover {
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .auth__save {
    width: 238px;
    height: 46px;
    margin-top: 46px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin-bottom: 15px;
  }
}
