.header__user-email {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  border: none;
  color: #ffffff;
  background-color: transparent;
  min-width: fit-content;
  margin-top: 6px;
}
